{% extends "base.html" %}

{% block title %}
    Listagem de Produtos | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Produtos</h1>
</div>
<div class="row">
    {% for product in product_list %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="{% url 'produto_unitario' product.slug %}">
                <img src="http://placehold.it/350x250" alt="" />
            </a>
            <div class="caption">
                
                <h3>{{ product.name }}</h3>
                <p>{{ product.description |linebreaks }}</p>
                <p><a href="{% url 'produto_unitario' product.slug %}" class="btn btn-success" role="button">Saiba Mais</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    {%endfor%}

    
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
