{% extends "base.html" %}

{% block title %}
    Produto | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{{ produto_unitario.name }}</h1>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="#" class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" />
      </a>
  </div>
  <div class="col-sm-8">
      <dl>
        <dt>{{ produto_unitario.name }}</dt>
        <dd>{{ produto_unitario.slug }}</dd>
        <dd>{{ produto_unitario.description }}</dd>
        <dd>{{ produto_unitario.price }}</dd>
        
  </div>
</div>
{% endblock %}
